.election-dialog-auto-complete {
            position: absolute; top: 465px; margin-left: 14px; margin-right: 16px; width: 96%;
    }
    .election-dialog-auto-complete-edit {
            position: absolute; top: 544px; margin-left: 14px; margin-right: 16px; width: 96%;
    }
    .carousel-item {
        margin-left: 33%;
    }

    .span-no-candidate {
        font-size: 24px;
        color: #ff0000;
        margin-left: 33%;
    }

    .span-slide {
      font-size: 23px;
      position: absolute;
      bottom: 20px;
    }

    /*Substituir css dentro do arquivo _carousel.scss*/
    /*.carousel-control-prev {
      left: 0;
    }
    .carousel-control-next {
      right: 0;
    }

    POR

    .carousel-control-prev {
      left: 0 !important;
          background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%) !important;
      width: 14% !important;
      height: 53% !important;
      top: 20% !important;
    }

    .carousel-control-next {
      right: 0;
          background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%) !important;
      width: 14%;
      height: 53%;
      top: 20%;
    }
    */
    