<div *ngIf="election">
    <h2><span>Vote</span> {{election.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <h2><span class="description">{{election.desc}}</span></h2>
    <br/>

    <swiper [config]="config" style="background: #eee;" #usefulSwiper>
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let item of candList">
              <img *ngIf="!item.imageUrl" src="../../../../resources/images/default-user.png" alt="First slide" width="250" height="250" (click)="candidateSelected(item)">
              <img *ngIf="item.imageUrl" width="250" height="250" [src]="item.imageUrl" (click)="candidateSelected(item)">
              
              <span class="span-slide">{{item.firstName}}</span>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </swiper>

</div>


<style>

    .description {
        margin-left: 26%;
    }

    .swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .span-slide {
      font-size: 23px;
      position: absolute;
      bottom: 20px;
    }
</style>