<div class="row">

    <div class="col-md-12">
        <h1 class="display-4">Elections</h1>
    </div>

    <div class="container col-md-8">
        <div class="card" *ngFor="let election of elections">
          <div class="card-header">
            <div class="card-name">
                {{election.name}}
            </div>
          </div>
          <div class="card-block" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-desc">
                            {{election.desc}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" *ngIf="calculeTime(election)">
                        <div class="card-type">Election Start For:</div>
                    </div>
                </div>
                <div class="row row-time">
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">368</div> days
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">1</div> hour
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">35</div> minutes
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">29</div> seconds
                    </div>
                </div>
          </div>
        </div>
    </div>

</div>

<style type="text/css">
    .display-4{
        text-align: center;
    }
    .card {
        margin-bottom: 30px;
        text-align: center;
    }
    .card-name {
        font-size: 30px;
        font-weight: 600;
    }
    .card-desc {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .card-type {
        margin: 0 auto;
        font-weight: 500;
        font-size: 30px;
        margin-top: 30px;
    }
    .color-time {
        background: #DC143C;
        color: white;
        font-weight: 900;
    }
    .card-time {
        font-size: 30px;
    }
</style>