<div class="row">

    <div class="col-md-12">
        <h1 class="display-4">Elections</h1>
    </div>

    <div class="container col-md-8">
        <div class="card" *ngFor="let item of elections" (click)="itemSelected(item)">
          <div class="card-header">
            <div class="card-name">
                {{item.name}}
            </div>
          </div>
          <div class="card-block" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-desc">
                            {{item.desc}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" *ngIf="item.type === 'NOT_STARTED' ">
                        <div class="card-type">Election Start in:</div>
                    </div>

                    <div class="col-md-12" *ngIf="item.type === 'INITIATED' ">
                        <div class="card-type">Election ends in:</div>
                    </div>

                    <div class="col-md-12" *ngIf="item.type === 'FINALIZED' ">
                        <div class="card-type">Election finalized:</div>
                    </div>
                </div>
                <div class="row row-time" *ngIf="item.type === 'NOT_STARTED' || item.type === 'INITIATED' ">
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">{{item.days}}</div> days
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">{{item.hours}}</div> hour
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">{{item.minutes}}</div> minutes
                    </div>
                    <div class="col-md-2 color-time">
                        <div class="card-time">{{item.seconds}}</div> seconds
                    </div>
                </div>
          </div>
        </div>
    </div>

</div>

<style type="text/css">
    .display-4{
        text-align: center;
    }
    .card {
        margin-bottom: 30px;
        text-align: center;
    }
    .card-name {
        font-size: 30px;
        font-weight: 600;
    }
    .card-desc {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .card-type {
        margin: 0 auto;
        font-weight: 500;
        font-size: 30px;
        margin-top: 30px;
    }
    .color-time {
        background: #DC143C;
        color: white;
        font-weight: 900;
    }
    .card-time {
        font-size: 30px;
    }
</style>