<div class="row">

    
    <div class="col-md-12">
        <h1 class="display-4">Elections</h1>
    </div>
    
    <div class="col-md-8 search-election">
        <input type="text" [(ngModel)]="filter" class="form-control">
    </div>

    <div class="row checkbox-election">
        <div class="row">
            <div class="form-group has-warning">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" [(ngModel)]="all" class="custom-control-input" (ngModelChange)="searchByCheckbox( 'ALL', all)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">All</span>
              </label>
            </div>
            <div class="form-group has-warning">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" [(ngModel)]="notstarted" class="custom-control-input" (ngModelChange)="searchByCheckbox( 'NOT_STARTED', notstarted)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Not started</span>
              </label>
            </div>
            <div class="form-group has-success">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="initiated" class="custom-control-input" 
                (ngModelChange)="searchByCheckbox( 'INITIATED', initiated)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Initiated</span>
              </label>
            </div>
            <div class="form-group has-danger mb-0">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="finalized" class="custom-control-input" 
                (ngModelChange)="searchByCheckbox( 'FINALIZED', finalized)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Finalized</span>
              </label>
            </div>
        </div>
    </div>
    
    <div class="container col-md-8">
        <div class="card" *ngFor="let item of (elections | pureFilter:filter:'name')" (click)="itemSelected(item)">
          <div class="card-header">
            <div class="card-name">
                {{item.name}}
            </div>
          </div>
          <div class="card-block" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-desc">
                            {{item.desc}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" *ngIf="item.type === 'NOT_STARTED' ">
                        <div class="card-type">Election Start in:</div>
                    </div>

                    <div class="col-md-12" *ngIf="item.type === 'INITIATED' ">
                        <div class="card-type">Election ends in:</div>
                    </div>

                    <div class="col-md-12" *ngIf="item.type === 'FINALIZED' ">
                        <div class="card-type">Election finalized:</div>
                    </div>
                </div>
                <div class="row row-time" *ngIf="item.type === 'NOT_STARTED' || item.type === 'INITIATED' ">
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2" [ngClass]="{'color-time-notstarted': item.type === 'INITIATED', 'color-time-iniated': item.type === 'NOT_STARTED'}">
                        <div class="card-time">{{item.days}}</div> days
                    </div>
                    <div class="col-md-2" [ngClass]="{'color-time-notstarted': item.type === 'INITIATED', 'color-time-iniated': item.type === 'NOT_STARTED'}">
                        <div class="card-time">{{item.hours}}</div> hour
                    </div>
                    <div class="col-md-2" [ngClass]="{'color-time-notstarted': item.type === 'INITIATED', 'color-time-iniated': item.type === 'NOT_STARTED'}">
                        <div class="card-time">{{item.minutes}}</div> minutes
                    </div>
                    <div class="col-md-2" [ngClass]="{'color-time-notstarted': item.type === 'INITIATED', 'color-time-iniated': item.type === 'NOT_STARTED'}">
                        <div class="card-time">{{item.seconds}}</div> seconds
                    </div>
                </div>
          </div>
        </div>
    </div>

</div>

<style type="text/css">
    .search-election {
        margin-left: 17%;
    }
    .checkbox-election{
        margin-left: 37%;        
    }

    .display-4{
        text-align: center;
    }
    .card {
        margin-bottom: 30px;
        text-align: center;
    }
    .card-name {
        font-size: 30px;
        font-weight: 600;
    }
    .card-desc {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .card-type {
        margin: 0 auto;
        font-weight: 500;
        font-size: 30px;
        margin-top: 30px;
    }
    .color-time-notstarted {
        background: #DC143C;
        color: white;
        font-weight: 900;
    }
    .card-time {
        font-size: 30px;
    }
    .color-time-iniated {
        background: #0275d8;
        color: white;
        font-weight: 900;
    }

</style>